VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TWsMJDPoV2SQpTkVryulMx4lmS8VcowakyDCwDQQb4U58MOtBW3cTYHrSkiT56JpVUFIXlzWwQFwPyHVJz5iFqN00iW6T3hnp

VITE_CHECKOUT_API_BASE=http://localhost:4242/v1

VITE_ADMIN_API_KEY=myadmin123